@using WebMaze.Models.Hotel
@using WebMaze.DbStuff.Model.Hotel
@model List<HotelViewModel>

<div class="container">
    @if (User.Identity.Name == "admin")
    {
        <a class="btn btn-primary" asp-controller="Hotel" asp-action="AdminIndex">Bookings</a>
    }
    else
    {
        <a class="btn btn-primary" asp-controller="Hotel" asp-action="MyBookings">My Bookings</a>
    }
    <div class="row">
        @foreach (var hotel in Model)
        {
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="@hotel.AvatarUrl" class="card-img-top" alt="Hotel Image">
                    <div class="card-body">
                        <h5 class="card-title">@hotel.Name</h5>
                        <p class="card-text">@hotel.Address</p>
                        <p class="card-text">@hotel.Rooms.First(x => x.RoomType == RoomType.Single).Price.ToString("c") - @hotel.Rooms.First(x => x.RoomType == RoomType.Lux).Price.ToString("c")</p>
                        <a class="btn btn-primary" asp-controller="Hotel" asp-action="Rooms" asp-route-hotelname="@hotel.Name">Select</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>